
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Bootstrap
@import "~bulma";
@import "~font-awesome/scss/font-awesome";

footer .love {
	color: #E90606;
	font-size: 15px;
	display: inline;
}